{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">add </button>
{{ form_end(form) }}
{% endblock %}